body{
    width: 80vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items:center ;  
}
.login{
    display: flex;
    gap: 15vw;
    font-family: Trial, Helvetica, sans-serif;

}
#profile{
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    font-family: Trial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 800;
    margin-left: 2vw;
    margin-right: auto;
}
#profile ul{
    color: lightgray;
    list-style-type: none;
    font-weight: 500;
    
}
ul li{
    padding-bottom: 8px;
}
#profile img{
    width: 25vw;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}