body{
    width: 80vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items:center ;  
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.login{
    display: flex;
    gap: 15vw;
    font-family: Trial, Helvetica, sans-serif;

}
#profile{
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    font-family: Trial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 540;
    margin-left: 2vw;
    margin-right: auto;
}
#profile ul{
    color: lightgray;
    list-style-type: none;
    font-weight: 300;
    
}
ul li{
    padding-bottom: 8px;
}
#profile img{
    width: 25vw;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: auto;
    margin-right:auto;
}
#profile h2{
    font-weight: 100;
    color: black;
}

.history{
    margin-top:40px ;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

}
.history a{
 text-decoration: none;
 color: black;
 background-color: rgb(237, 239, 255);
 padding: 5px 10px;
 border-left: 5px solid #2b6cb0;
 border-top-left-radius: 5px;
}
h4{
    font-family: Trial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 300;
}
span {
    color: #2b6cb0;
    font-size: large;
    font-family: Trial, Helvetica, sans-serif;
}
#message{
    font-size: large;
    font-family: Trial, Helvetica, sans-serif;
    font-weight: 500;
}
#contacts{
    display: flex;
    flex-direction: column;
}
#accLay{
    display: flex;
    gap: 10px;
    margin-left: 10px;
}
#accCard{
    width: 25vw;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    font-family: Trial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 540;
    margin-left: 2vw;
     margin-right: auto;
}
#accCard img {
    width: 15vw;
}