body{
    width: 80vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-items: center;
   
    border: 5px solid black;
}
.heading{
    display: flex;
    justify-content: flex-end;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.status{
    font-family: Trial, Helvetica, sans-serif;
        font-size: larger;
        margin-left: 25vw;
        justify-content: center;
        text-align: center ;
        font-weight: 700;
}
#profile{
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
    font-family: Trial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 800;
    margin-right: 0px;
}
#profile img{
    width: 10vw;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 30vw;
}