

body {

    background: linear-gradient(70deg,
            #9d3be9,
            #8d628c,
            #fbc2eb,
            #cdc5b1);
    height: 100vh;
    width: 100vw;
}

nav {
    background-color: rgba(148, 148, 199, 0.626);
    color: beige;
    border-radius: 12px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: rgb(232, 229, 242);

}

.nav h1 {
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav {
    display: flex;
    flex-direction: column;
    background-color: rgba(136, 136, 215, 0.972);
    border-radius: 10px;
}
.about {
    background-color: rgb(186, 192, 207);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 15px 30px;
    border-radius: 12px;
    flex-wrap: wrap;
}

.about img {
    outline: none;
    border: none;
    width: 70vw;
    height: 30vh;
}