

body {

    background: linear-gradient(70deg,
            #9d3be9,
            #8d628c,
            #fbc2eb,
            #cdc5b1);
    height: 100vh;
    width: 100vw;
}

nav {
    background-color: rgba(148, 148, 199, 0.626);
    color: beige;
    border-radius: 12px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: rgb(232, 229, 242);

}

.nav h1 {
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav {
    display: flex;
    flex-direction: column;
    background-color: rgba(136, 136, 215, 0.972);
    border-radius: 10px;
}
.about {
    background-color: rgb(186, 192, 207);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 15px 30px;
    border-radius: 12px;
    flex-wrap: wrap;
}

.about img {
    outline: none;
    border: none;
    width: 70vw;
    height: 30vh;
}
.about p {
    font-size: x-large;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(35, 3, 52);
}

.about h2 {
    font-size: xx-large;
    font-style: oblique;
    font-weight: 700;
    color: rgb(176, 35, 211);
    text-transform: uppercase;
}

.about button {
    width: 200px;
    height: 40px;
    background-color: rgb(26, 9, 115);
    border-radius: 20px;
    box-shadow: 3px 3px rgb(28, 8, 31);
    font-size: large;
    color: rgb(185, 199, 199);
    text-transform: uppercase;
}
.desc {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-items: center;
    padding: 15px 30px;
    border-radius: 12px;
    font-size: x-large;
    text-align: center;
    color: rgb(8, 8, 54);
}

.desc h2 {
    color: rgb(8, 8, 54);
    text-transform: uppercase;
}